.card-detail-container {
    width: 250px;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-flow: column;
}

.card-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-desc {
    border: 2px solid black;
}

.card-desc-label {
    margin: 10px;
}

.card-desc {
    min-height: 50px;
    padding: 5px;
}

.card-desc-section {
    flex: 1;
}
.foundation-section {
    height: 160px;
}