<div class="board-container">
    <div *ngFor="let pState of _gameService.gameState.playerStates">

        <div class="other-players"
             [class.activePlayer]="_gameService.isPlayersTurn(pState.player.id)"
             *ngIf="pState.player.id !== _playerInfoService.player.id">
            <div class="header-section">
                <div class="header-border-section">
                    <div class="player-name">
                        <span>{{pState.player.name}}</span>
                        <i class="fa fa-comment" *ngIf="pState.action === eActions.think" style="margin-left:10px;" title="Thought"></i>
                        <i class="fa fa-male" *ngIf="pState.action === eActions.playCard" style="margin-left:10px;" title="Followed"></i>
                    </div>

                    <div class="dialogue">
                        {{setDialogue()}}
                    </div>

                    <div class="hand">
                        <i class="fa fa-hand-paper-o"></i>
                        <span>Hand ({{pState.maxHandSize}}): {{pState.cardsInHand}}</span>
                    </div>

                    <div class="vault">
                        <i class="fa fa-lock"></i>
                        <span>Vault ({{pState.maxVault}}): {{pState.vault.length}}</span>
                    </div>

                    <div class="influnce">
                        <i class="fa fa-star"></i>
                        <span>Influence: {{pState.influence}}</span>
                    </div>

                </div>
            </div>
            <div class="player-detail-container">
                <div class="action-section">
                    <div style="position:relative; overflow: hidden">
                        <card-image [card]="pState.actionCard"
                                    [size]="size"
                                    [invert]="true">
                        </card-image>
                        <jack-cards-component [player]="pState"></jack-cards-component>
                    </div>
                </div>
                <div class="detail-section">

                    <div class="top-row">

                        <div class="under-construction-section">
                            <div class="card-content" #underCoGroup>
                                <div *ngFor="let underCo of pState.underConstruction; let i = index">
                                    <div class="underCo-container"
                                        [size]="size"
                                        [cardGroup]="underCoGroup"
                                        [cardGroupIndex]="i"
                                        [cardGroupLength]="pState.underConstruction.length">
                                        <div class="underCo-inner-container">
                                            <card-image [card]="underCo.building"
                                                        [size]="size">
                                            </card-image>
                                            <div class="num-material">{{underCo.materials.length}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title-section">
                                <i class="fa fa-gavel"></i>
                                <span>Under Construction</span>
                            </div>
                        </div>

                        <div class="completed-section">
                            <div class="card-content" #completedGroup>
                                <div *ngFor="let comp of pState.completed; let i = index"
                                    class="opponent-completed"
                                    (click)="completedBuildingClicked(pState, comp)">
                                    
                                    <completed-card-component
                                        *ngIf="!comp.stairway"
                                        [completedFoundation]="comp">
                                    </completed-card-component>
                                </div>
                            </div>
                            <div class="title-section">
                                <i class="fa fa-university"></i>
                                <span>Completed</span>
                            </div>
                        </div>

                        <div class="stairway-section" *ngIf="hasPublicBuilding(pState)">
                            <div class="card-content" #stairway>
                                <div *ngFor="let stair of pState.completed; let i = index">
                                    <card-image class="public-building"
                                                *ngIf="stair.stairway"
                                                [card]="stair.building"
                                                [size]="size"

                                                [cardGroup]="stairway"
                                                [cardGroupIndex]="i"
                                                [cardGroupLength]="stairwayLength(pState.completed)">
                                    </card-image>
                                </div>
                            </div>

                            <div class="title-section">
                                <i class="fa fa-align-justify"></i>
                                <span>Public</span>
                            </div>
                        </div>

                    </div>

                    <div class="bottom-row">
                        
                        <div class="clientelles-section">
                            <div class="card-content" #clientelles>
                                <div *ngFor="let client of pState.clientelles; let i = index">
                                    <card-image [card]="client"
                                                [size]="size"

                                                [cardGroup]="clientelles"
                                                [cardGroupIndex]="i"
                                                [cardGroupLength]="pState.clientelles.length">
                                    </card-image>
                                </div>
                            </div>
                            <div class="title-section">
                                <i class="fa fa-users"></i>
                                <span>Clientelles ({{pState.maxClientelles}})</span>
                            </div>
                        </div>

                        <div class="stockpile-section">
                            <div class="card-content" #stockpile>
                                <div *ngFor="let stock of pState.stockpile; let i = index">
                                    <card-image [card]="stock"
                                                [size]="size"

                                                [cardGroup]="stockpile"
                                                [cardGroupIndex]="i"
                                                [cardGroupLength]="pState.stockpile.length">
                                    </card-image>
                                </div>
                            </div>
                            <div class="title-section">
                                <i class="fa fa-bars"></i>
                                <span>Stockpile</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>