.button-container {
    margin-bottom: 5px;
    height: 35px;

    font-size: 12px;
}
.control-buttons-container,
.follow-container {
    height: 100%;
    width: 100%;
    position: relative;

    cursor: pointer;
    display: flex;
}

.outer-three-card-jack-container {
    height: 100%;
    margin-right: 10px;

    flex: 1;
    position: relative;
}
.three-card-jack-container {
    height: 100%;
    padding: 3px;
    color: white;

    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jack-button-menu {
    height: 115px;
    width: 100%;

    background-color: white;
    border: 2px solid black;

    padding: 5px;
    position: absolute;
    transform: translate(0%, -105%);
    font-size: 9px;
}

.think-button-container,
.jack-button-container,
.follow-button-container,
.no-container {
    height: 100%;
    padding: 3px;
    margin-right: 5px;

    flex: 1;
    position: relative;

    border-radius: 5px;
    background-color: brown;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}
.think-button-container:hover,
.jack-button-container:hover,
.three-card-jack-container:hover,
.follow-button-container:hover,
.no-container:hover {
    transform: scale(1.05);
}

.jack-button-container {
    background-color: black;
}
.follow-button-container {
    background-color: darkgreen;
}
.three-card-jack-container {
    background-color: darkgoldenrod;
}

.no-container {
    background-color: peachpuff;
}

.think-text, .jack-text, .follow-text, .three-jack-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-jack-text {
    margin-left: 15px;
}

.disabled {
    opacity: 0.5;
    cursor: auto;
}
.disabled:hover {
    transform: none;
}

.border-container,
.follow-border-container {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid white;
    position: relative;
    display: flex;
}

.follow-border-container {
    width: 98%;
}

.icon {
    left: 6px;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 16px;
    position: absolute;
}
.think-icon {
    left: 20px;
    top: 45%;
    transform: translate(0%, -50%);
    font-size: 16px;
    position: absolute;
}
.jack-num,
.yes-icon,
.no-icon {
    height: 15px;
    width: 15px;

    position: absolute;
    border-radius: 2px;
    background-color: white;
    color: black;

    font-weight: bold;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.jack-num {
    transform: translate(-50%, -50%);
    top: 50%;
    right: 0px;
}
.yes-icon {
    cursor: pointer;
    left: 25px;
}
.no-icon {
    cursor: pointer;
    left: 55px;
}
.yes-icon:hover,
.no-icon:hover {
    transform: scale(1.2);
}