<div class="button-container">

    <div class="control-buttons-container">
        <div class="think-button-container" *ngIf="showThink()" [class.disabled]="!enableThink()" (click)="think()">
            <div class="border-container"></div>
            <i class="fa fa-comment think-icon"></i>
            <div class="think-text">THINK</div>
        </div>

        <div class="jack-button-container" *ngIf="showJack()" [class.disabled]="!enableJack()" (click)="drawJack()">
            <div class="border-container"></div>
            <i class="fa fa-question-circle-o icon"></i>
            <div class="jack-text">DRAW JACK</div>
            <div class="jack-num">{{_gameService.gameState.jacks}}</div>
        </div>

        <div class="outer-three-card-jack-container" *ngIf="showThreeJack()">
            <div class="jack-button-menu" *ngIf="jackMenuVisible">
                <jack-menu-component (optionClicked)="optionClicked($event)"></jack-menu-component>
            </div>
            <div class="three-card-jack-container"
                 [class.disabled]="!enableThreeJack()"
                 (click)="playCardsAsJack()">

                <div class="border-container"></div>
                <i class="fa fa-male icon"></i>
                <div class="three-jack-text">PLAY {{_playerInfoService.getPlayerState().cardsForJack}} AS JACK</div>
            </div>
        </div>

        <div class="follow-button-container"
             *ngIf="showFollow()"
             [class.disabled]="!enableFollow()"
             (click)="follow()">
                <div class="follow-border-container"></div>
                <i class="fa fa-male icon"></i>
                <div class="follow-text">FOLLOW</div>
        </div>
    </div>
</div>